html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: #ffff;
    scroll-behavior: smooth;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container {
    background-color: #282828;
    border-radius: 30px;
    border: solid 2px white;
    width: 1000px;
    height: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_container * {
    transition: all 0.5s ease;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.GameIcons {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    border-radius: 20px;
    border: solid 5px #121212;
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}

.icon img {
    width: 75px;
    height: 75px;
}

.score {
    display: flex;
    justify-content: space-around;
    font-size: 1.75rem;
    width: 500px;
    text-align: center;
    border: solid 2px white;
    border-radius: 20px;
    margin: 25px;
    padding: 0px 15px 0px 15px;
    background-color: #181818;
}

.reset_score button {
    height: 50px;
    width: 150px;
    background-color: #181818;
    border-radius: 30px;
    border: solid white 2px;
    font-size: 1rem;
    color: antiquewhite;
}

.reset_score button:hover {
    background-color: #383838;
    cursor: pointer;
}


@media only screen and (max-width: 1100px) {

    .main_container {
        width: 600px;
    }


}